<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Marketplace</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Market Value</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tradeData | keyvalue">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{item.key}}</span>
                      </div>
                    </div>
                  </th>
                  <td>{{item.value}}</td>
                  <td>
                    <form id="form1"><input [(ngModel)]="quantity[item.key]" name="quantity item-key" type="number" min="0" id="stock" /></form>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">
                        <button type="button" class="btn btn-primary my-4"
                          (click)="buyStock(item, quantity[item.key])">Buy</button> &nbsp;
                        <button type="button" class="btn btn-light"
                          (click)="sellStock(item, quantity[item.key])">Sell</button>
                      </span>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>